/* footer section styling */
footer{
  position: relative;

  background: rgb(79, 69, 69);
  left: 0;
  bottom: 0;
  width: 100%;



  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 14px;
  color: #fff;
  text-align: center;
}
footer span a{
  color: crimson;
  text-decoration: none;
}
footer span a:hover{
  text-decoration: underline;
}


