<div class="inscription">
  <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
<div class="form-row">
    <mat-form-field >
      <mat-label>Prénom</mat-label>
      <input type="text" matInput formControlName="firstName" />
      <mat-error>Ce champ est requis</mat-error>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Nom</mat-label>
      <input type="text" matInput formControlName="lastName" />
      <mat-error>Ce champ est requis</mat-error>
    </mat-form-field>
  </div>

<div class="form-row">
    <!--adresse-->
    <mat-form-field >
      <mat-label>Adresse</mat-label>
      <input type="text" matInput formControlName="adresse" />
      <mat-error>Ce champ est requis</mat-error>
    </mat-form-field>
<!--adresse mail-->
<mat-form-field >
  <mat-label>Email</mat-label>
  <input type="text" matInput formControlName="email" />
  <mat-error>Ce champ est requis</mat-error>
</mat-form-field>
</div>
<!--adresse complement-->

<div class="form-row">
  <mat-form-field  [style.width]="'100%'">
    <mat-label>Complement Adresse</mat-label>
    <input type="textarea" matInput formControlName="complementAdresse" />
    <mat-error>Ce champ est requis</mat-error>
  </mat-form-field>
</div>


<div class="form-row">
  <!--Code postale-->
  <mat-form-field >
    <mat-label>Code postal</mat-label>
    <input type="text" matInput formControlName="codePostal" />
    <mat-error>Ce champ est requis</mat-error>
  </mat-form-field>
<!--Vile-->
<mat-form-field >
  <mat-label>Ville</mat-label>
  <input type="text" matInput formControlName="ville" />
  <mat-error>Ce champ est requis</mat-error>
  </mat-form-field>

  <!--Pays liste
  <mat-select-country    label="Pays"
  [value]="defaultValue">

    <mat-error>Ce champ est requis</mat-error>
    </mat-select-country>
-->
  <!--code-pays+ numero-->
  <mat-form-field >
    <mat-label>Telephone</mat-label>
    <input type="text" matInput formControlName="telephone" />
    <mat-error>Ce champ est requis</mat-error>
    </mat-form-field>
</div>
</form>

</div>
