<div class="stepper">
<mat-horizontal-stepper [linear]="isLinear" #stepper class="stepper-card">
  <mat-step >
    <ng-template matStepLabel>Accueil</ng-template>
    <app-home></app-home>
    <button  mat-raised-button color="primary" matStepperNext>{{demarer|uppercase}}</button>
    </mat-step>



    <mat-step >
      <ng-template matStepLabel>Information personnelles</ng-template>
      <div>
        <button   mat-raised-button color="primary" matStepperPrevious>{{pre|uppercase}}</button>
        <button  mat-raised-button color="primary" matStepperNext style="float:right;">{{suivant|uppercase}}</button>
      </div>
      <app-inscription ></app-inscription>

    </mat-step>

    <mat-step >
      <ng-template matStepLabel>Soumission du dossier</ng-template>


      <p>Socialize with each other.</p>

      <div>
        <button  mat-raised-button color="primary" matStepperPrevious>{{pre|uppercase}}</button>

      </div>
    </mat-step>
  </mat-horizontal-stepper>

</div>
