.stepper{

  margin: 60px;
  padding: 1px;
  margin-top: 200px;

  position: relative;
  box-sizing: border-box;
  border-radius:30px ;
  background-color: #fff;
}

.stepper-card{

  margin: 70px ;
}
