.menu-spacer {
  flex: 1 1 auto;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 20px;
}
/** cascade css
**/
li>a {
  color: white;
  text-decoration: none;
  font-weight: normal;
  &:hover {
    text-decoration: underline;
  }
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
}
