.menu-spacer {
  flex: 1 1 auto;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 20px;
}
/** cascade css
**/
li>a {
  color: white;
  text-decoration: none;
  font-weight: normal;
  &:hover {
    text-decoration: underline;
  }
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 4px 4px 4px rgba(22, 21, 21, 0.24);
}
.mat-toolbar.mat-primary {
  background: #1e1b3b;
  color: #fff;
}
