.menu-spacer {
  flex: 1 1 auto;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 20px;
}
a {
  color: white;
  text-decoration: none;
  font-weight: normal;
  &:hover {
    text-decoration: underline;
  }
}
